.hero-header_nav .header-nav_link {
    border-radius: 0;
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
}

.homepage-hero {
    padding-top: 30px;
    height: 570px;
    background-color: #333;
    background-size: cover;
    background-position: 50%;
    background-image: url(static/img/hero.png);
}

.hero-header_nav .header-nav_link, .hero-header_nav .header-nav_text {
    color: #fff;
    display: block;
    padding: 9px 12px 10px;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: 700;
    background: none;
}