<!DOCTYPE html>
<html lang="en"> 
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
href="{{url_for('static', filename='home.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet"> 
</head>
<style>
.btn {
  border: 2px solid black;
  background-color: transparent;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Alata', sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('static/img/base.jpg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

/* Gray */
.default {
  border-color: #e7e7e7;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}

.default:hover {
  background: white;
  color: #666;
  font-weight: bold;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  height: 55%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.checked {
    color: gold;
}

</style>

<div class="hero-image" style="height: 80%;">
    <form method="GET" action="{{url_for('cas.login')}}">
    <button style="margin-left: 90%; margin-top: 20px;" class="btn default">Log In</button>
    </form>
    <div style="margin-top: -3.3%"> 
      <a href="{{url_for('team')}}"> 
        <button style="margin-left: 82%" class="btn default">Team
        </button> 
      </a>
    </div>
    <br>
    <br>
    <div class="hero-text">
      <h1 style="font-size:50px">Welcome to Dormir</h1>
      <p>Find the best room for you!</p>
    </div>

  </div>
  <div style="line-height: 1.5; font-size: 20px; margin-top: 100px; margin-left: 250px;width: 1000px">
    <p style="font-family: 'Quicksand', sans-serif;"> 
      What is dormir? Find the dorm room perfect for you. Think <b>Yelp</b>, <b>Instagram</b>, and <b>Red Fin</b>, 
      but for dorm rooms. Find rooms on campus with images and real talk from Wellesley students
      who have lived in those rooms. Each room review is assigned a <b>dorm building</b>, <b>closest dining hall</b>, 
      and the <b>average review rating</b>. <b>Rate</b>, <b>add pictures</b>, <b>comment</b> your real thoughts on your dorm room experience. 
      Using the search bar, you can search by dorm building or specific dorm hall. If no results show,
      it's because there isn't a review yet!
      It's super easy to use the platform, just log in with your Wellesley credentials and start searching,
      reviewing, and bookmarking rooms you like! 
  
    </p>
	
	{% if three==True %}
	<h2 style="text-align: center"> Hot Rooms </h2>
	<br>
    <div class="card" style="margin-left: -160px">
      <img style="width: 400px;height: 300px" src="{{url_for('static', filename=img1.imgPath)}}" alt="Avatar" style="width:100%">
      <div class="container">
        <h4 style="text-align: center">#1🔥  {{top1}}
          <br>
          Average Rating: {{top1Rating}}
        </h4> 
   
      </div>
    </div>    

    <div class="card" style="margin-left: 31%; margin-top: -38.7%;">
      <img style="width: 400px;height: 300px" src="{{url_for('static', filename=img2.imgPath)}}" alt="Avatar" style="width:100%;">
      <div class="container">
        <h4 style="text-align: center">
		  #2🔥 {{top2}}
		  <br>
		  Average Rating: {{top2Rating}}
        </h4> 
      </div>
    </div>   

    <div class="card" style="margin-left: 78%; margin-top: -38.7%">
      <img style="width: 400px;height: 300px" src="{{url_for('static', filename=img3.imgPath)}}" alt="Avatar" style="width:100%">
      <div class="container">
        <h4 style="text-align: center">
		  #3🔥 {{top3}}
		  <br>
		  Average Rating: {{top3Rating}}
        </h4> 
      </div>
    </div> 
    
    <br>
    <br>

    <h2 style="text-align: center">Review of the Day</h2>
    <br>
    <div class="card" style="margin-left:301px; height: 85%">
      <img style="width: 400px;height: 300px" src="{{url_for('static', filename=randomRoom.imgPath)}}" alt="Avatar" style="width:100%">
      <div class="container" style="width: 30%;">
        <h4><b>{{randomRoom.rmID}}
            <br>
            Rating: {{randomRoom.rating}}
            <br>
            @{{randomRoom.username}}
        </b></h4> 
        <p style="font-family: 'Quicksand', sans-serif;"> 
          {{randomRoom.review}}
        </p> 
      </div>
	</div>
	{% elif two==True %}
	<h2 style="text-align: center"> Hot Rooms </h2>
	<br>
	<div class="card" style="margin-left: -3%">
		<img style="width: 400px;height: 300px" src="{{url_for('static', filename=img1.imgPath)}}" alt="Avatar" style="width:100%">
		<div class="container">
		  <h4 style="text-align: center">#1🔥  {{top1}}
			<br>
			Average Rating: {{top1Rating}}
		  </h4> 
	 
		</div>
	  </div>    
  
	  <div class="card" style="margin-left: 62%; margin-top: -42.3%;">
		<img style="width: 400px;height: 300px" src="{{url_for('static', filename=img2.imgPath)}}" alt="Avatar" style="width:100%;">
		<div class="container">
		  <h4 style="text-align: center">
			#2🔥 {{top2}}
			<br>
			Average Rating: {{top2Rating}}
		  </h4> 
		</div>
	  </div>   
	  <br>
	  <br>
	  <h2 style="text-align: center">Review of the Day</h2>
	  <br>
	  <div class="card" style="margin-left:301px; height: 85%">
		<img style="width: 400px;height: 300px" src="{{url_for('static', filename=randomRoom.imgPath)}}" alt="Avatar" style="width:100%">
		<div class="container">
		  <h4><b>{{randomRoom.rmID}}
			  <br>
			  Rating: {{randomRoom.rating}}
			  <br>
			  @{{randomRoom.username}}
		  </b></h4> 
		  <p style="font-family: 'Quicksand', sans-serif;">  
			{{randomRoom.review}}
		  </p> 
		</div>
	  </div>
	{% elif one == True %}
	<h2 style="text-align: center"> Hot Rooms </h2>
	<br>
	<div class="card" style="margin-left: 300px">
		<img style="width: 400px;height: 300px" src="{{url_for('static', filename=img1.imgPath)}}" alt="Avatar" style="width:100%">
		<div class="container">
		  <h4 style="text-align: center">#1🔥  {{top1}}
			<br>
			Average Rating: {{top1Rating}}
		  </h4> 
	 
		</div>
	  </div> 
	  <br>
	  <br>
	  <h2 style="text-align: center">Review of the Day</h2>
	  <br>
	  <div class="card" style="margin-left:301px; height: 85%">
		<img style="width: 400px;height: 300px" src="{{url_for('static', filename=randomRoom.imgPath)}}" alt="Avatar" style="width:100%">
		<div class="container">
		  <h4><b>{{randomRoom.rmID}}
			  <br>
			  {% for num in range(randomRoom.rating | int) %} 
			  <span class="fa fa-star checked"></span>
			  {% endfor %}
			  {% for num in range(5 - (randomRoom.rating | int)) %}
				<span class="fa fa-star"></span>
				{% endfor %}
			  <br>
			  @{{randomRoom.username}}
      </b></h4> 
      <div>  <p style="font-family: 'Quicksand', sans-serif; width: 300px; overflow: scroll"> 
        {{randomRoom.review}}
        </p>  </div>
		</div>
	  </div>    
	{% endif %}
    <br>
    <br>



  </div>
  
 </html>

