<div class="y-container homepage-hero" style="background-image: url(static/img/hero.png)">
    <div class="y-container_content">

    <div class="hero-header js-main-header">
        <div class="arrange arrange--18">
            <div class="arrange_unit arrange_unit--fill">
                    <div class="hero-header_nav hero-header_nav--main nowrap">
                                <ul class="header-nav" id="header-nav">
            <li id="write-review" class="header-nav_item js-analytics-click" data-analytics-label="write-review">
                    <a class="header-nav_link" href="/writeareview">
                        Write a Review
                    </a>
            </li>
    </ul>

                    </div>
            </div>
        </div>
    </div>


    <div class="homepage-hero_inner">
        <div class="u-text-centered">
            <h1 class="homepage-hero_logo" id="logo">
                <a href="/">Dormir</a>
            </h1>
        </div>

       
        
        
        
                   
            </div>
                    
                
    </div>
    </div>
</div>