{% extends "nav.html" %}

<link rel='stylesheet' href="{{url_for('static', filename = 'home.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% block nav %} 
{{super()}}
{% endblock %}

{% block content %}
<div class="y-container homepage-hero" style="background-image: url(static/img/hero.png);">
    <div class="y-container_content">

   <!-- <div class="hero-header js-main-header">
        <div class="arrange arrange--18">
            <div class="arrange_unit arrange_unit--fill">
                    <div class="hero-header_nav hero-header_nav--main nowrap">
                    </div>
            </div>
        </div>
    </div> -->


    <div class="homepage-hero_inner">
        <div class="u-text-centered">
            <h1 class="homepage-hero_logo" id="logo">
                
            </h1>
        </div>
        <div>
           <!-- input search bar -->
        </div>
       
        
        
        
                   
            </div>
                    
                
    </div>
    </div>
</div>

<!-- bootstrap stuff -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<footer>
  <a href="https://icons8.com/icon/132/search">Search and Logout icon by Icons8</a>
</footer>


{% endblock %}