{% extends "nav.html" %}

{% block head %}
<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat">
     <link rel="icon" type="image/png" href="../static/img/LogoIcon.png"/>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
{% endblock %}

{% block nav %} 
{{super()}}
{% endblock %}

{% block content %}
<p> <div class="title"> Search for a Room or Hall </div> </p>


<form id="search-form" method=POST action="{{url_for('search')}}">
    <label for="Hall"> Residence Hall: 
        <select class="required" name="rCode" style="margin-left: 10px;">
            <option value="BAT" name="rCode">BAT</option>
            <option value="BEB" name="rCode">BEB</option>
            <option value="CAS" name="rCode">CAS</option>
            <option value="CAS" name="rCode">CAZ</option>
            <option value="CLA" name="rCode">CLA</option>
            <option value="DAV" name="rCode">DAV</option>
            <option value="DOW" name="rCode">DOW</option>
            <option value="FRE" name="rCode">FRE</option>
            <option value="FRH" name="rCode">FRH</option>
            <option value="HEM" name="rCode">HEM</option>
            <option value="INS" name="rCode">INS</option>
            <option value="LAK" name="rCode">LAK</option>
            <option value="MCA" name="rCode">MCA</option>
            <option value="MUN" name="rCode">MUN</option>
            <option value="ORC" name="rCode">ORC</option>
            <option value="POM" name="rCode">POM</option>
            <option value="SEV" name="rCode">SEV</option> 
            <option value="SHA" name="rCode">SHA</option>
            <option value="STO" name="rCode">STO</option>
            <option value="TCE" name="rCode">TCE</option>
            <option value="TCW" name="rCode">TCW</option>
        </select>
    </label>

    <a style="margin-left: 10px" class= "help" href=" " title="CAS = spanish house, FRH = french house, INS = instead, HEM = hemlock apartments, ORC = orchid apartments, LAK = Lake House, CAS = Casa Cervantes" style="background-color:#FFFFFF;color: blue;text-decoration:none">?</a>

    <br>
    <br>
    <p class="helptext"> Room number optional </p>
    <input id="roomnumber" placeholder="318" name="rNum">
<!--     <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>
 -->
 <br>
 <br>
 <button type="button submit" class="btn btn-primary">Search</button>
</form>


<style>
.title{
    padding-top:10%;
    padding-left:5%;
    font-size:40px;
}    
*{
    font-family:Montserrat;
}
#search-form{
    padding-left:5%;
}
.helptext{
    color:#919191;
}


</style>

{% endblock %}

{% block scripts %}

    <script src="{{url_for('static',filename='home.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
{% endblock %}

